*.*~
*.pyc
*.swo
*.swp
*.vim
.project
docs/*
.coverage
.pydevproject
.settings/*
build/*
dist/*
lib/*
src/*
bin/*
include/*
man/*
.env/*
examples/odesk
odesk/__init__.py.back
python_odesk.egg-info
_reference-docs
_gh-pages